<br>
<%= form_with(model: event) do |form| %>
  
  <div class="mb-3">
    <%= form.label :title, style: "display: block", class:"form-label" %>
    <%= form.text_field :title, class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :location, style: "display: block", class:"form-label" %>
    <%= form.text_field :location, class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :date, style: "display: block", class:"form-label" %>
    <%= form.datetime_field :date %>
  </div>

  <div class="mb-3">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>

