<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= image_tag("confidential.png") %>
    <%= link_to " Sealed lips ", root_path, class:"navbar-brand fs-3 fw-bold" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <% if user_signed_in? %>
          <%= link_to "Secrets", posts_path, class:"nav-link active" %>
          <%= link_to "Share a secret", new_post_path, class:"nav-link active" %>
          <%= link_to "My secrets", show_path, class:"nav-link active" %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-outline-secondary" %>
        <% else %>
          <%= link_to "Secrets", posts_path, class:"nav-link active" %>
          <%= link_to "Sign in", new_user_session_path, class:"nav-link active" %>
          <%= link_to "Sign up", new_user_registration_path, class:"nav-link active" %>
        <% end %>

      </div>
    </div>
  </div>
</nav>